# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

#### **Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular tools for Data Science
- Evaluating arithmetic expressions in Python

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. Java

#### Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. caret
3. dplyr
4. stringr

| Data Science Tools |
| ------------------ |
| RStudio |
| Anaconda |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers
result = (3*4)+5
print(result)

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
hours = 200/60
print(hours)

3.3333333333333335

## Author
Carri Cleaveland